
.team-container {
  display: flex;
  flex-wrap: wrap;
}

.carousel-container {
  display: none; 
}

@media (max-width: 1024px) {
  .carousel-container {
    display: block; 
  }
}

.team-members {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .team-members {
    display: none; 
  }
}
