@tailwind base;
@tailwind components;
@tailwind utilities;


.heading{
    font-family: 'TTCmmnsPrCndDmBld', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
}


.subHeading{
    font-family: 'TT Interfaces', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
}

